/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// 
body {
    min-width: 1200px;
}

body,
button,
input,
option,
select,
textarea {
    box-sizing: border-box;
    font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
    color: #5E5E5E;
}


/* 版心 */

.wrap {
    width: 1196px;
    margin: 0 auto;
    position: relative;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 清除浮动 */

.clearfix::after {
    content: '.';
    height: 0;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: visible;
}

a {
    color: #5e5e5e;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    &:hover {
        text-decoration: underline;
        color: #0083ce;
    }
}

$font12: 12px;
$font14: 14px;
$t_height: 36px;
%text {
    font-size: $font12;
    height: $t_height;
    line-height: $t_height;
    color: #5e5e5e;
    padding: 0 10px;
    text-align: center;
}

%outline {
    &:focus {
        outline: none;
    }
}

%sec {
    width: 1196px;
    height: 485px;
    border: 1px solid #F3F3F3;
    border-top: 2px solid #92c4ff;
    margin: 30px auto 0;
    color: #5e5e5e;
    // font-family: "Microsoft Yahei";
    // border-top: none;
    // border-bottom: none;
}

.red {
    // color: red;
    color: #e54948!important;
}

.a_underline {
    text-decoration: underline;
}