@import 'public';
@import 'header';
@import 'banner';
@import 'footer';
// index
.sec {
    @extend %sec;
    .sec-l {
        width: 182px;
        // height: 485px;
        li {
            float: left;
            width: 89px;
            height: 49px;
            border: 1px solid #F3F3F3;
            border-left: none;
            border-top: none;
            text-align: center;
            line-height: 49px;
            font-size: 14px;
        }
    }
    .sec-r {
        float: right;
        width: 1014px;
    }
    .floor_name {
        padding-left: 20px;
        height: 85px;
        line-height: 85px;
        background: #F8F8F8;
        font-size: 20px;
        &.active {
            color: #fff;
            background: #92c4ff;
        }
    }
    a:hover {
        color: #ff5247;
    }
    .sale {
        height: 284px;
        .sale-slider {
            width: 605px;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-right: 1px solid #f3f3f3;
            .slide_img {
                width: 605px;
                height: 284px;
                position: absolute;
                left: 0;
                z-index: 9;
            }
        }
        .sale_ads {
            img {
                width: 201px;
                height: 284px;
            }
            .last {
                border-right: 0;
            }
        }
    }
    .sp_show {
        height: 201px;
        li {
            float: left;
            width: 161px;
            padding: 20px 20px 10px 20px;
            border-right: 1px solid #F3F3F3;
            // border-bottom: 1px solid #F3F3F3;
            height: 170px;
            &.last {
                border-right: none;
            }
            a {
                display: block;
                color: #333;
            }
            img {
                width: 100px;
                height: 100px;
                margin-left: 30px;
            }
            a.tit {
                font-size: 14px;
                height: 20px;
                overflow: hidden;
                text-align: center;
                margin: 15px 0 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            p {
                color: #E72418;
                font-size: 16px;
                text-align: center;
                i {
                    font-size: 12px;
                    padding-right: 5px;
                }
            }
        }
    }
}

// 特卖
.specialAds {
    width: 1204px;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    a {
        margin-right: 3px;
        img {
            width: 250px;
            height: 150px;
            vertical-align: top;
        }
    }
    .limited_time {
        width: 180px;
        height: 150px;
        float: left;
        margin-right: 0;
    }
    .clock-wrap {
        position: relative;
        width: 180px;
        height: 150px;
        background: url(//s.maiyaole.com/images/201306/img/clock01.png) no-repeat;
    }
    .clock {
        position: absolute;
        left: 63px;
        top: 32px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 6px solid transparent;
        .clock-h {
            position: absolute;
            top: 5px;
            left: 19px;
            height: 18px;
            width: 5px;
            background: url(//s.maiyaole.com/images/201306/img/clock_h.png) no-repeat;
            transform: rotate(93deg);
            -webkit-transform: rotate(93deg);
        }
        .clock-m {
            position: absolute;
            left: 5px;
            top: 19px;
            width: 19px;
            height: 5px;
        }
        .clock-s {
            position: absolute;
            left: 17px;
            top: -6px;
            width: 5px;
            height: 26px;
            -webkit-transform-origin: bottom;
            -webkit-animation: tick-tock 10s linear infinite;
            -moz-transform-origin: bottom;
            -moz-animation: tick-tock 10s linear infinite;
            transform-origin: bottom;
            animation: tick-tock 10s linear infinite;
        }
    }
}

// 楼层滚动模块 css
.elevator_n {
    top: 159px;
    display: block;
    position: fixed;
    z-index: 99;
    right: 50%;
    margin-right: 600px;
    .xsg {
        display: block;
        width: 48px;
        border: 1px solid #E6E6E6;
        border-bottom: none;
        text-align: center;
        color: #157CDB;
        padding: 5px 0;
        text-decoration: none;
        font-family: "Microsoft YaHei";
    }
    ul {
        overflow: hidden;
    }
    li {
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        text-align: center;
        width: 48px;
        border: 1px solid #E6E6E6;
        border-bottom: none;
        background-color: #fff;
        &.active {
            background-color: #00f;
        }
        &.active>a:nth-child(1) {
            display: none;
        }
        a {
            color: #5e5e5e;
            display: block;
            font-family: Arial;
            font-size: 14px;
            text-decoration: none;
        }
        .etitle {
            line-height: 17px;
            padding: 3px 5px;
            // 
            color: #fff;
            display: none;
            font-size: 12px;
            font-family: "Microsoft YaHei";
            &.active {
                display: block;
                // margin-top: -40px;
            }
        }
    }
    .last {
        border-bottom: 1px solid #E6E6E6;
    }
}