@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 1200px;
}

body,
button,
input,
option,
select,
textarea {
  box-sizing: border-box;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}

/* 版心 */
.wrap {
  width: 1196px;
  margin: 0 auto;
  position: relative;
}

/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/* 清除浮动 */
.clearfix::after {
  content: '.';
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: visible;
}

a {
  color: #5e5e5e;
  text-decoration: none;
  font-family: "Microsoft YaHei";
}
a:hover {
  text-decoration: underline;
  color: #0083ce;
}

.headernav, .headernav .topli, .headersearch, .headersearch .hotli, .headermainnav .button a {
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  color: #5e5e5e;
  padding: 0 10px;
  text-align: center;
}

.headersearch .search:focus, .headersearch .searchBtn:focus {
  outline: none;
}

.red {
  color: #e54948 !important;
}

.a_underline {
  text-decoration: underline;
}

/* header */
.header {
  background-color: #f1f1f1;
}

/* headernav */
.headernav {
  background-color: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
}
.headernav .top-l div:nth-child(1) a {
  padding-left: 19px;
  background: url("//s.maiyaole.com/images/201306/images/common_sprite.png") no-repeat -156px -64px;
}
.headernav .topli {
  float: left;
  background-color: #f1f1f1;
}
.headernav .logininfo a:nth-child(1) {
  color: red;
}

/* headersearch */
.headersearch {
  height: 121px;
  margin-bottom: 10px;
  position: relative;
}
.headersearch h1 {
  margin-right: 105px;
}
.headersearch .logo {
  padding-top: 20px;
  text-indent: -9999px;
}
.headersearch .logo a {
  display: block;
  width: 180px;
  height: 87px;
  background: url("//s.maiyaole.com/images/common/logo_01.png") no-repeat center;
}
.headersearch .search-wrap {
  width: 765px;
  height: 114px;
  margin-bottom: 15px;
  position: relative;
  z-index: 99;
}
.headersearch .search-from {
  width: 532px;
  margin-top: 34px;
}
.headersearch .searchlabel {
  position: absolute;
  left: 0;
  top: 34px;
  width: 451px;
  height: 42px;
  line-height: 42px;
  display: none;
  background-color: #fff;
  border: 1px solid #c7a774;
  text-align: left;
  padding-left: 9px;
  font-size: 16px;
}
.headersearch .search {
  width: 451px;
  height: 44px;
  border: 1px solid #c7a774;
  padding: 0 0 0 10px;
}
.headersearch .searchBtn {
  width: 80px;
  height: 44px;
  border: 1px solid #c7a774;
  background: #fff;
  position: relative;
  left: -1px;
}
.headersearch .hot {
  margin-top: 10px;
}
.headersearch .hotli {
  height: 16px;
  line-height: 16px;
  float: left;
}
.headersearch .code {
  position: absolute;
  top: 20px;
  right: 190px;
}
.headersearch .code img {
  width: 100px;
}

/* headermainnav 主要的导航 */
.headermainnav {
  border-bottom: 2px solid #d2b994;
  position: relative;
}
.headermainnav .allSort {
  float: left;
  width: 180px;
  position: relative;
}
.headermainnav .allSort .allSorttit {
  line-height: 48px;
  position: absolute;
  z-index: 100;
  display: block;
  font: 400 15px/48px tahoma, arial, Microsoft YaHei;
  color: #fff;
  width: 166px;
  padding: 0 0 0 14px;
  height: 48px;
  background-color: #19323a;
  background-position: right -438px;
  font-weight: 700;
}
.headermainnav .allSortbox {
  position: absolute;
  top: 48px;
}
.headermainnav .allSortul {
  position: absolute;
  width: 180px;
  background-color: #314349;
}
.headermainnav .allSortli {
  width: 180px;
  height: 40px;
  transition: all .4s;
}
.headermainnav .allSortli:hover {
  padding-left: 10px;
}
.headermainnav .allSortli:hover .category_name {
  color: #314349;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e7;
}
.headermainnav .allSortli.last.category {
  border-bottom: none;
}
.headermainnav .allSortli .category_name {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #314349;
  text-decoration: none;
  position: relative;
  color: #fff;
}
.headermainnav .allSortli .category_name em {
  margin-left: 18px;
  font-weight: 400;
  font-size: 14px;
}
.headermainnav .allSortli .category {
  width: 1009px;
  height: 400px;
  z-index: 101;
  border-bottom: 1px solid #e8e8e7;
  border-right: 1px solid #e8e8e7;
  display: none;
  position: absolute;
  left: 180px;
  top: 0px;
  background: #fff;
}
.headermainnav .allSortli .category .mode-bd {
  font: 12px/18px Arial, tahoma, \5b8b\4f53;
  background: #fff;
  vertical-align: middle;
  width: 252px;
  height: 399px;
  overflow: hidden;
  float: left;
}
.headermainnav .allSortli .category .mode-bd.ads {
  border-left: 1px solid #e8e8e7;
  border-right: 1px solid #e8e8e7;
}
.headermainnav .allSortli .category .mode-bd dl {
  display: block;
  font: 12px/18px Arial, tahoma, \5b8b\4f53;
  background: #fff;
  float: left;
  margin-bottom: 13px;
}
.headermainnav .allSortli .category .mode-bd dt {
  margin: 6px 0 0 23px;
  padding: 0;
  line-height: 20px;
  height: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.headermainnav .allSortli .category .mode-bd dd {
  color: #999;
  line-height: 1.6;
  width: 220x;
  margin: 0 0 0 23px;
  padding: 0 0 6px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.headermainnav .allSortli .category .mode-bd dd em {
  margin: 8px 6px 0 -8px;
  padding: 1px 6px 0 7px;
  display: inline-block;
  font-style: normal;
  border-left: #ddd 1px solid;
  font-weight: 400;
  line-height: 1;
}
.headermainnav .sitenav {
  float: left;
  height: 46px;
  font-size: 0;
  background: #fff;
  font-family: tahoma, arial, \5b8b\4f53;
  vertical-align: middle;
  padding-left: 180px;
}
.headermainnav .sitenav li {
  word-spacing: -1px;
  float: left;
  margin-left: -2px;
}
.headermainnav .sitenav li a {
  color: #505050;
  font-size: 16px;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 46px;
  display: block;
  cursor: pointer;
  padding: 0 15px;
}
.headermainnav .sitenav li a:hover {
  color: #0083ce;
  text-decoration: none;
}
.headermainnav .sitenav li div {
  display: none;
}
.headermainnav .button {
  position: absolute;
  width: 350px;
  top: 0;
  right: 18px;
  z-index: 10000;
  font: 12px Arial, tahoma, \5b8b\4f53;
}
.headermainnav .button a {
  box-sizing: border-box;
  width: 140px;
  border: 1px solid red;
}
.headermainnav .button div {
  display: none;
  max-width: 100px;
  min-height: 100px;
}

/* footer */
.footer .ft_commit {
  padding-top: 36px;
}
.footer .ft_commit .ft_commit_con {
  width: 1190px;
  height: 100px;
  margin: 0 auto;
  background: url(//s.maiyaole.com/images/201306/images/jsyhm.png) no-repeat 0 0;
}
.footer .new_app_part {
  margin-top: 60px;
}
.footer .new_app_part .new_app_part_ul {
  padding-left: 110px;
}
.footer .new_app_part .new_app_part_ul li {
  width: 255px;
}
.footer .new_app_part .new_app_part_ul li .app_part_right {
  padding-top: 27px;
}
.footer .new_app_part .new_app_part_ul li .app_part_right .h2_tt {
  font-size: 15px;
  color: #1c1c1c;
  font-weight: bold;
  margin-bottom: 3px;
}
.footer .new_app_part .new_app_part_ul img {
  width: 94px;
  height: 94px;
  float: left;
  margin-right: 12px;
}
.footer .new_app_part .service_part {
  width: 250px;
  float: right;
  border-left: 1px solid #eee;
  text-align: center;
  padding: 15px 0;
  margin-right: 50px;
}
.footer .new_app_part .service_part .tel {
  font-size: 20px;
  color: #c7a774;
  font-weight: 700;
}
.footer .new_app_part .service_part .service_time {
  color: #999;
  line-height: 18px;
  padding-top: 8px;
}
.footer .new_page_footer {
  background: #f0f0f0;
  margin-top: 65px;
  padding-top: 45px;
}
.footer .new_page_footer_con {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}
.footer .footer_bottom_unit {
  position: relative;
  padding-left: 215px;
  padding-top: 15px;
}
.footer .footer_bottom_unit .footer_logo_img {
  position: absolute;
  left: 0;
  top: 30px;
}
.footer .footer_bottom_unit .help_part {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  overflow: hidden;
}
.footer .footer_bottom_unit .help_part dl {
  width: 155px;
  float: left;
}
.footer .footer_bottom_unit .help_part dl dt {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 15px;
  padding-bottom: 10px;
}
.footer .footer_bottom_unit .help_part dl dd {
  line-height: 26px;
}
.footer .footer_bottom_unit .help_part dl dd a {
  color: #666;
}
.footer .footer_bottom_unit .help_part .first_dl {
  width: 155px;
  float: left;
}
.footer .footer_bottom_unit .footer_logo_img {
  position: absolute;
  left: 0;
  top: 30px;
}
.footer .footer_bottom_unit .copy_right {
  color: #5e5e5e;
  text-align: center;
  padding: 5px 0 30px;
}
.footer .yyw_member {
  overflow: hidden;
  padding-top: 25px;
}
.footer .yyw_member .member_mark {
  color: #666;
  float: left;
  line-height: 56px;
}
.footer .yyw_member .member_ul {
  float: left;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: left;
  margin-left: 15px;
}
.footer .yyw_member .member_ul li {
  width: 270px;
  float: left;
  line-height: 56px;
}
.footer .yyw_member .member_ul img {
  width: 56px;
  height: 56px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer .bottom_link {
  text-align: left;
  line-height: 30px;
  padding-top: 30px;
  margin-left: -20px;
}
.footer .bottom_link a {
  margin: 0 20px;
}
.footer .copy_info {
  text-align: left;
  color: #999;
  line-height: 20px;
  padding-top: 15px;
}
.footer .sf_verify {
  overflow: hidden;
  margin-left: -10px;
}

.detail_self {
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  width: 39px;
  height: 21px;
  background-image: url(https://s.maiyaole.com/images/common/activity/detail_saleSelf.png);
  color: #0193e8;
}

.headermainnav .allSortul {
  display: none;
  z-index: 10;
}

.qian {
  font-family: Arial;
  font-style: normal;
}

img {
  max-width: 990px;
  border: 0;
}

.b {
  font-weight: bold;
}

.sec-detail {
  width: 990px;
  margin: 0 auto;
  margin-top: 34px;
}
.sec-detail .detail_top {
  margin-bottom: 10px;
}
.sec-detail .detail_top a {
  outline-style: none;
  cursor: crosshair;
  position: relative;
  height: 298px;
  width: 298px;
  text-decoration: none;
}
.sec-detail .detail_top .sideleft {
  padding-bottom: 10px;
  float: left;
  width: 300px;
  position: relative;
  z-index: 12;
  margin-right: 18px;
}
.sec-detail .detail_top .sideleft #productImg {
  height: 298px;
  width: 298px;
}
.sec-detail .detail_top .sideleft .pic {
  position: relative;
  border: none;
  height: 298px;
  text-align: center;
  width: 298px;
}
.sec-detail .detail_top .sideleft .pic .product_img {
  outline-style: none;
  cursor: crosshair;
  position: relative;
  height: 298px;
  width: 298px;
  text-decoration: none;
}
.sec-detail .detail_top .sideleft .picbox {
  margin-top: 10px;
  margin-left: 10px;
  width: 280px;
}
.sec-detail .detail_top .sideleft .picbox ul {
  padding-left: 1px;
}
.sec-detail .detail_top .sideleft .picbox ul li a {
  display: block;
  float: left;
}
.sec-detail .detail_top .sideleft .picbox ul li a img {
  border: 1px solid #e6e6e6;
  margin-left: -1px;
  position: relative;
}
.sec-detail .detail_top .sideleft .imgprev {
  cursor: pointer;
  height: 45px;
  width: 12px;
  background-position: -3px -500px;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.sec-detail .detail_top .sideleft .imgnext {
  cursor: pointer;
  height: 45px;
  width: 12px;
  background-position: -125px -500px;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.sec-detail .detail_top .dt_scrollable {
  width: 251px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
.sec-detail .detail_top .dt_scrollable img {
  width: 49px;
  height: 49px;
  display: block;
}
.sec-detail .detail_top .shareCollectBox {
  text-align: left;
  width: 280px;
  margin-left: 10px;
}
.sec-detail .detail_top .shareCollectBox li {
  line-height: 28px;
  float: left;
}
.sec-detail .detail_top .shareCollectBox .item_number {
  margin-right: 10px;
  color: #999;
}
.sec-detail .detail_top .shareCollectBox .collect {
  margin: 0 10px 0 0;
  color: #999;
  text-align: center;
}
.sec-detail .detail_top .shareCollectBox .collect a {
  color: #999;
}
.sec-detail .detail_top .shareCollectBox .collect i {
  padding-left: 25px;
  background-position: -107px -1142px;
}
.sec-detail .detail_top .shareCollectBox .fenxiang {
  position: relative;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .fenicon {
  width: 70px;
  padding-left: 5px;
  position: absolute;
  color: #999;
  left: 0;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .fenicon em {
  background-position: -75px -1203px;
  margin-left: 7px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .bdsharebuttonbox {
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  position: absolute;
  top: 26px;
  width: 95px;
  display: none;
  z-index: 3;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .bdsharebuttonbox a {
  color: #505050;
  float: left;
  font-size: 12px;
  padding-left: 17px;
  line-height: 16px;
  height: 16px;
  background-image: url(../img/share/icons_0_16.png?v=ba7acbd3.png);
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 6px 6px 6px 0;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .bdsharebuttonbox .bds_qzone {
  background-position: 0 -52px;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .bdsharebuttonbox .bds_tsina {
  background-position: 0 -104px;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .bdsharebuttonbox .bds_tqq {
  background-position: 0 -260px;
}
.sec-detail .detail_top .shareCollectBox .fenxiang .bdsharebuttonbox .bds_weixin {
  background-position: 0 -1612px;
}
.sec-detail .detail_top .middle_property {
  width: 465px;
}
.sec-detail .detail_top .middle_property h1 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  font-family: 'microsoft yahei';
}
.sec-detail .detail_top .middle_property .shangpin_info dl {
  padding-bottom: 15px;
  line-height: 20px;
}
.sec-detail .detail_top .middle_property .shangpin_info dt {
  width: 68px;
  clear: left;
  text-align: right;
  line-height: 36px;
}
.sec-detail .detail_top .middle_property .shangpin_info dt.price_dt {
  padding-top: 12px;
  line-height: 22px;
}
.sec-detail .detail_top .middle_property .shangpin_info dd {
  padding: 0 0 0 6px;
}
.sec-detail .detail_top .middle_property .shangpin_info dd p {
  margin-top: 0;
  line-height: 1.6;
}
.sec-detail .detail_top .middle_property .shangpin_info dd p.proTips {
  margin-top: 20px;
  color: #999;
}
.sec-detail .detail_top .middle_property .shangpin_info dd .icon_meng {
  margin-right: 6px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  width: 32px;
  height: 18px;
  background-image: url(https://s.maiyaole.com/images/common/activity/detail_promotion.png);
  color: #fff;
  margin-top: 1px;
}
.sec-detail .detail_top .middle_property .shangpin_info dd input.num {
  width: 73px;
  height: 38px;
  line-height: 38px;
  padding: 0 5px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
}
.sec-detail .detail_top .middle_property .shangpin_info .price_dd > :nth-child(2) {
  line-height: 19px;
  margin: 7px 40px 0 0;
}
.sec-detail .detail_top .middle_property .shangpin_info .good_price {
  margin-right: 0;
  color: #e72418;
  font-weight: 400;
  display: block;
  line-height: 22px;
  padding-top: 6px;
  padding-right: 6px;
  font-size: 24px;
}
.sec-detail .detail_top .middle_property .shangpin_info .commentBox {
  padding-top: 8px;
  line-height: 22px;
  margin-left: 40px;
}
.sec-detail .detail_top .middle_property .shangpin_info #newpromotion2 dl {
  padding: 10px;
  line-height: 18px;
  margin-top: -10px;
}
.sec-detail .detail_top .middle_property .shangpin_info #newpromotion2 dd {
  padding-top: 10px;
}
.sec-detail .detail_top .middle_property .shangpin_info .xilieping {
  padding-bottom: 5px;
}
.sec-detail .detail_top .middle_property .shangpin_info .taocan li {
  margin: 0 10px 0 0;
  padding: 2px 0 9px;
  display: block;
  float: left;
  min-width: 45px;
  line-height: 1.2;
}
.sec-detail .detail_top .middle_property .shangpin_info .taocan li a {
  padding: 0;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: #5e5e5e;
  min-width: 43px;
  white-space: nowrap;
  overflow: hidden;
  zoom: 1;
  width: auto;
}
.sec-detail .detail_top .middle_property .shangpin_info .taocan li a .ptext {
  padding: 0 4px;
  display: block;
  cursor: pointer;
}
.sec-detail .detail_top .middle_property .shangpin_info .taocan li a .iconSelect {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
.sec-detail .detail_top .middle_property .shangpin_info .taocan li.select-pro a {
  border: 1px solid #e72418;
  color: #e72418;
}
.sec-detail .detail_top .middle_property .shangpin_info .taocan li.select-pro a .ptext {
  display: block;
  text-align: center;
}
.sec-detail .detail_top .middle_property .shangpin_info .taocan li.select-pro a .iconSelect {
  display: block;
  background-position: 0 -602px;
  width: 18px;
  height: 15px;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.sec-detail .detail_top .middle_property .shangpin_info dl.taocanBox {
  padding-bottom: 12px;
}
.sec-detail .detail_top .middle_property .shangpin_info .btnCartDl dd {
  padding: 0;
}
.sec-detail .detail_top .right_property {
  width: 189px;
  border: 1px solid #e6e6e6;
}
.sec-detail .detail_top .right_property01 h3.h3blue {
  padding: 9px 13px;
  line-height: 1.5;
  background-color: #0083ce;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin: -1px -1px 0;
}
.sec-detail .detail_top .right_property01 h3.h3blue span {
  font-weight: 700;
  display: block;
}
.sec-detail .detail_top .right_property01 h3.h3blue a {
  color: #fff;
}
.sec-detail .detail_top .erweima {
  padding: 13px 10px;
  overflow: hidden;
  zoom: 1;
}
.sec-detail .detail_top .erweima .erwei_img {
  text-align: center;
}
.sec-detail .detail_top .erweima .erwei_img img {
  width: 120px !important;
  height: 120px !important;
}
.sec-detail .detail_top .mobPrice {
  width: 240px;
  height: 28px;
  border: 1px solid #e6e6e6;
  background-color: #f8f8f8;
  position: relative;
  text-indent: 4px;
  display: block;
  margin-bottom: 14px;
}
.sec-detail .detail_top .mobPrice i {
  display: block;
  width: 15px;
  height: 19px;
  line-height: 28px;
  background: url(https://s.maiyaole.com/images/201306/images/mobPrice.png) 0 0 no-repeat;
  margin: 5px;
  float: left;
}
.sec-detail .detail_top .mobPrice span {
  font-family: 'Microsoft Yahei';
  font-size: 12px;
  color: #5e5e5e;
  line-height: 28px;
}
.sec-detail .detail_top .mobPrice em {
  font-style: normal;
}
.sec-detail .detail_top .mobPrice .mobNum {
  font-family: Arial;
  color: #e72418;
  font-weight: 700;
}
.sec-detail .detail_top .mobPrice .mobBuy {
  font-family: 'Microsoft Yahei';
  color: #e72418;
  text-decoration: none;
}
.sec-detail .detail_top .mobPrice .erdCode {
  position: absolute;
  top: -200px;
  right: -36px;
  width: 156px;
  height: 156px;
  border: 1px solid #e6e6e6;
  box-shadow: 1px 2px 2px #e6e6e6;
  background-color: #fff;
  z-index: 12;
  display: none;
}
.sec-detail .detail_top .mobPrice .erdCode img {
  width: 150px;
  height: 150px;
}
.sec-detail .detail_top .numComments {
  color: #0083ce;
  font-size: 18px;
}
.sec-detail .detail_top .num_section {
  position: relative;
}
.sec-detail .detail_top .num_section p {
  padding-top: 10px;
}
.sec-detail .detail_top .num_box {
  position: relative;
  width: 106px;
  z-index: 10;
}
.sec-detail .detail_top .num_box .num_pre {
  background-position: -131px -842px;
  height: 19px;
  width: 19px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.sec-detail .detail_top .num_box .num_next {
  background-position: -131px -863px;
  height: 19px;
  width: 19px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  cursor: pointer;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.sec-detail .detail_top .num_selection p {
  margin-top: 10px;
  line-height: 1.6;
  padding-top: 10px;
}
.sec-detail .detail_top .btn_shopping_cart {
  background-color: #e72418;
  background-position: 50px -763px;
  background-repeat: no-repeat;
  border: 0 solid #9a0900;
  padding: 0 60px 0 90px;
  border-bottom: 3px solid #9a0900;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  height: 53px;
  vertical-align: top;
  background-image: url(https://s.maiyaole.com/images/product/icon_detail.png?t==20141219);
  background-repeat: no-repeat;
  font-family: 'microsoft yahei';
  outline: 0;
}
.sec-detail .detail_top .btn_shopping_cart:hover {
  background-color: #d80000;
  border-bottom: 3px solid #d80000;
}
.sec-detail .detail_top .promise {
  padding-left: 0;
}
.sec-detail .detail_top .promise span a {
  color: #5e5e5e;
}
.sec-detail .detail_top .promise span.fl {
  font-weight: 700;
  display: none;
}
.sec-detail .detail_top .promise i {
  background-position: 0 -1142px;
  margin-right: 5px;
  vertical-align: middle;
}
.sec-detail .detail_top .promise .zhengping_100 {
  margin-right: 10px;
}
.sec-detail .detail_top .promise .men_100 {
  margin-right: 10px;
}
.sec-detail .detail_top .promise .yaojian {
  margin-right: 10px;
}
.sec-detail .detail_top .d_app {
  text-align: center;
  font-weight: 700;
}
.sec-detail .detail_top .d_app a {
  color: #333;
}
.sec-detail .detail_top #sliderImgs {
  margin-top: 0;
}
.sec-detail .detail_top ul#thumblist {
  display: block;
  width: 1000px;
  margin-left: 0px;
  position: relative;
}
.sec-detail .detail_top ul#thumblist li {
  float: left;
  margin-right: 0px;
  list-style: none;
  height: auto;
  width: auto;
}
.sec-detail .detail_top ul#thumblist li a {
  display: block;
  height: auto;
  width: auto;
}
.sec-detail .detail_top ul#thumblist li.active img {
  border: 1px solid red;
  z-index: 98;
  left: -1px;
}
.sec-detail .detail_top .zoomPad {
  position: relative;
  float: left;
  z-index: 90;
  cursor: crosshair;
  opacity: 1;
}
.sec-detail .detail_top .zoomPup {
  overflow: hidden;
  background-color: #FFF;
  opacity: .6;
  border: 1px solid #CCC;
  z-index: 101;
  cursor: crosshair;
  top: 82.5px;
  left: -1px;
  width: 141px;
  height: 141px;
  position: absolute;
  border-width: 1px;
  display: none;
}
.sec-detail .detail_top .zoomWindow {
  left: 300px !important;
  background: #FFF;
  height: auto;
  position: absolute;
  z-index: 5001;
  top: 0px;
  display: none;
}
.sec-detail .detail_top .zoomWrapper {
  position: relative;
  border: 1px solid #999;
  z-index: 110;
  width: 380px;
}
.sec-detail .detail_top .zoomWrapperTitle {
  background: #999;
  color: #FFF;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
  top: 0;
  left: 0;
  z-index: 120;
  opacity: .6;
  width: 100%;
  position: absolute;
  display: block;
}
.sec-detail .detail_top .zoomWrapperImage {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 10;
  width: 380px;
  height: 380px;
}
.sec-detail .detail_top .zoomWrapperImage img {
  z-index: 101;
  position: absolute;
  border: 0px;
  display: block;
  width: 800px;
  height: 800px;
}
.sec-detail .detail_top .zoomPreload {
  opacity: .8;
  color: #333;
  font-size: 12px;
  font-family: Tahoma;
  text-decoration: none;
  border: 1px solid #CCC;
  background-color: white;
  padding: 8px;
  text-align: center;
  background-image: url(https://p1.maiyaole.com/images/201306/images/zoomloader.gif);
  background-repeat: no-repeat;
  background-position: 43px 30px;
  z-index: 110;
  width: 90px;
  height: 43px;
  visibility: hidden;
  top: 127.5px;
  left: 104px;
  position: absolute;
}

/*# sourceMappingURL=detail.css.map */
