@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 1200px;
}

body,
button,
input,
option,
select,
textarea {
  box-sizing: border-box;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}

/* 版心 */
.wrap {
  width: 1196px;
  margin: 0 auto;
  position: relative;
}

/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/* 清除浮动 */
.clearfix::after {
  content: '.';
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: visible;
}

a {
  color: #5e5e5e;
  text-decoration: none;
  font-family: "Microsoft YaHei";
}
a:hover {
  text-decoration: underline;
  color: #0083ce;
}

.red {
  color: #e54948 !important;
}

.a_underline {
  text-decoration: underline;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 1200px;
}

body,
button,
input,
option,
select,
textarea {
  box-sizing: border-box;
  font: 12px tahoma, arial, "Microsoft Yahei", \5b8b\4f53;
  color: #5E5E5E;
}

/* 版心 */
.wrap {
  width: 1196px;
  margin: 0 auto;
  position: relative;
}

/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/* 清除浮动 */
.clearfix::after {
  content: '.';
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: visible;
}

a {
  color: #5e5e5e;
  text-decoration: none;
  font-family: "Microsoft YaHei";
}

a:hover {
  text-decoration: underline;
  color: #0083ce;
}

.red {
  color: #e54948 !important;
}

.a_underline {
  text-decoration: underline;
}

img {
  border: 0;
}

input,
button {
  font: 12px "Lucida Grande", tahoma, arial, \5b8b\4f53;
  color: #5E5E5E;
  box-sizing: content-box;
  outline: none;
}

.tellnumber,
.u_ps,
.u_name,
.u_email,
.i_empty,
.i_true,
.i_false {
  background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 0 0;
}

.head {
  width: 990px;
  margin: 0 auto;
  height: 98px;
  overflow: hidden;
}

.head .logo {
  float: left;
  margin-left: 10px;
}

.reg_wrap {
  margin: 0 auto;
  position: relative;
  background: #fff url(https://s.maiyaole.com/images/passport/r_bg_02.png) no-repeat right bottom;
  width: 988px;
  min-height: 352px;
  color: #5e5e5e;
  border: #e6e6e6 1px solid;
  border-top: #0083ce 2px solid;
  box-shadow: -1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF;
  padding-bottom: 20px;
}

.bg_link {
  outline-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  text-indent: -9999px;
  display: block;
  width: 500px;
  height: 372px;
}

.lg_title {
  font: 20px "microsoft yahei";
  margin: 13px 0;
  padding-left: 50px;
  padding-right: 18px;
}

.lg_title span {
  float: right;
  font-size: 12px;
  margin-top: 7px;
  font-family: \5b8b\4f53;
}

a.blue_link {
  color: #0083ce;
}

.reg_form {
  padding-left: 100px;
  padding-top: 5px;
}

.reg_form span {
  line-height: 24px;
  color: #a5a5a5;
}

.reg_form span a {
  color: #0083ce;
}

.reg_form .two_week {
  line-height: 12px;
}

.reg_row {
  min-height: 70px;
  _height: 70px;
  width: 342px;
  position: relative;
  z-index: 1;
}

.reg_row li {
  float: left;
  height: 14px;
  line-height: 14px;
  padding: 0 9px;
  border-right: 1px solid #fff;
  font-family: \5b8b\4f53;
  color: #fff;
}

.ie_myemail {
  z-index: 99;
}

.form-control {
  display: block;
  width: 286px;
  height: 26px;
  padding: 6px 12px 6px 40px;
  font-size: 14px;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  -webkit-appearance: none;
}

.form-control:focus {
  border-color: #0083ce;
  color: #333;
  outline: 0;
}

.u_name {
  background-position: 8px -114px;
}

.empty {
  border: #ffaa00 1px solid;
}

.i_empty {
  background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 0 0;
  height: 16px;
  width: auto;
  float: right;
  padding-right: 25px;
  margin-top: -28px;
  background-position: right -57px;
}

.i_true {
  background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 0 0;
  height: 16px;
  width: auto;
  float: right;
  padding-right: 25px;
  margin-top: -28px;
  background-position: right 2px;
}

.i_false {
  background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 0 0;
  height: 16px;
  width: auto;
  float: right;
  padding-right: 25px;
  margin-top: -28px;
  background-position: right -26px;
}

#email_empty {
  display: none;
}

#email_true {
  display: none;
}

#email_error {
  display: none;
}

.reg_pass_capslock {
  margin-top: -30px;
  margin-bottom: 10px;
  width: 338px;
  background-color: #ffffe5;
  border: 1px solid #fadd87;
  color: #f60;
  position: relative;
}

.reg_pass_capslock .capsLock_msg_i {
  background: url(https://s.maiyaole.com/images/passport/regest.png) no-repeat 5px -50px;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  width: 20px;
}

.reg_pass_capslock .capsLock_msg_s {
  background: url(https://s.maiyaole.com/images/cart/scbgv.png) no-repeat -15px -62px;
  bottom: -9px;
  height: 9px;
  left: 38px;
  position: absolute;
  width: 15px;
}

.u_ps {
  background-position: 8px -145px;
}

.box_safety {
  float: right;
  line-height: 24px;
  color: #a5a5a5;
}

.psheight {
  height: 60px;
}

.u_ps2 {
  background-color: #f3f3f3;
}

.verify_box {
  height: 60px;
}

.verify_box .i_true {
  float: left;
  margin-left: -34px;
  margin-top: 12px;
}

.verify_box .i_false {
  float: left;
  margin-left: -34px;
  margin-top: 12px;
}

.u_verify {
  width: 150px;
  margin-right: 10px;
  padding-left: 9px;
  padding-right: 9px;
  float: left;
}

.verifyimg {
  margin-left: 10px;
  float: left;
}

.verifylink {
  float: left;
  margin-left: 10px;
  line-height: 40px;
  color: #0083ce;
}

input.error {
  border: #e72418 1px solid;
}

span.error {
  color: #e72418;
  padding-top: 5px;
}

#phoneCodeDiv {
  width: 160px;
}

.btn_verify {
  width: 120px;
  border: 1px solid #E6E6E6;
  display: block;
  height: 38px;
  overflow: hidden;
  text-align: center;
  line-height: 38px;
  float: right;
  margin-right: 20px;
  background: #fff url(https://s.maiyaole.com/images/passport/btn_verify_bg.jpg) repeat-x left bottom;
}

.redio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 0px;
  margin-bottom: 6px;
  /* padding-left: 20px; */
  vertical-align: middle;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  user-select: none;
  background-color: #0099F1;
  width: 340px;
  border-bottom: #0083ce 2px solid;
  color: #fff;
  font: 16px "microsoft yahei";
  border-radius: 1px;
}

.hz_login p {
  margin-top: 10px;
  line-height: 24px;
  color: #5e5e5e;
}

.hz_login a {
  line-height: 24px;
  color: #a5a5a5;
  text-indent: -9999px;
}

.hz_login a.first {
  padding-left: 0;
}

.hz_login a.last {
  border-right: 0;
}

.hz_login a.a_yhd {
  background: url(https://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat left top;
  border: medium none;
  display: block;
  float: left;
  height: 39px;
  margin-right: 18px;
  width: 39px;
  background-position: 0 0;
}

.hz_login a.a_zfb {
  background: url(https://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat left top;
  border: medium none;
  display: block;
  float: left;
  height: 39px;
  margin-right: 18px;
  width: 39px;
  background-position: -48px 0;
}

.hz_login a.a_qq {
  background: url(https://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat left top;
  border: medium none;
  display: block;
  float: left;
  height: 39px;
  margin-right: 18px;
  width: 39px;
  background-position: -95px 0;
}

.hz_login a.a_sina {
  background: url(https://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat left top;
  border: medium none;
  display: block;
  float: left;
  height: 39px;
  margin-right: 18px;
  width: 39px;
  background-position: -143px 0;
}

.hz_login a.a_wlt {
  background: url(https://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat left top;
  border: medium none;
  display: block;
  float: left;
  height: 39px;
  margin-right: 18px;
  width: 39px;
  background-position: -241px 0;
}

.hz_login a.a_wy {
  background: url(https://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat left top;
  border: medium none;
  display: block;
  float: left;
  height: 39px;
  margin-right: 18px;
  width: 39px;
  background-position: -191px 0;
}

#registerButton {
  width: 314px;
}

#registerButton:hover {
  background-color: #0083ce;
}

#password_error {
  display: none;
}

#password_tip {
  display: none;
}

#password_true {
  display: none;
}

#pswdLevel {
  display: none;
}

#password_empty {
  display: none;
}

#email {
  margin-top: 40px;
}

.btn-primary {
  margin-top: 30px;
}

/*# sourceMappingURL=registry.css.map */

/*# sourceMappingURL=login.css.map */
